<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<script>
    window.onload = function () {
        let vue = new Vue({
            // Vue 객체가 관리할 요소들이 만들어지기 전에 호출되는 함수
            el : "#test1",
            data : {
                str1 : '문자열1',
                int1 : 100,
                float1 : 11.11,
            },
            beforeCreate : function() {
                console.log('Vue 객체가 관리할 요소들이 만들어지기 전입니다.');
                console.log("str1 : " + this.str1);
            },
            created : function () {
                console.log('Vue 객체가 관리할 요소들이 만들어진 후입니다.');
                console.log("str1 : " + this.str1);
            },
            beforeMount : function () {
                console.log('Vue 객체가 관리할 태그가 할당 되기 전입니다.')
            },
            mounted : function () {
                console.log('Vue 객체가 관리할 태그가 할당 된 이후입니다.')
            },
            beforeUpdate : function () {
                console.log('관리하고 있는 HTML요소 내부가 변경되기 전입니다')
            },
            updated : function () {
                console.log('관리하고 있는 HTML요소 내부가 변경된 후입니다')
            },
            methods : {
                setValue : function () {
                    this.int1 = 200;
                }
            }
        })
    }
</script>
<body>
    <div id="test1">
        <h3>{{str1}}</h3>
        <h3>{{int1}}</h3>
        <h3>{{float1}}</h3>
        <button type="button" v-on:click='setValue'>값 변경</button>
    </div>
</body>
</html>